body {
  background-image: radial-gradient(#cecccc 2px, #fff 2px);
  background-size: 40px 40px;
}

.App {
  align-items: center;
  flex-direction: column;
  display: flex;
}

.stopwatch{
  display: flex;
  justify-content: center;
  align-items: center;
}

.digits-block {
  font-size: 40px;
}

.buttons-block {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  margin-top: 50px;

  width: 50%;
}

.button{
  width: 30%;
  height: 40px;

  font-size: 25px;
}

.animation-appear-active {
  opacity: 0;
  transform: translate(0px, -50px);
}

.animation-enter-done {
  opacity: 1;
  transition: opacity 500ms;
  color: #3f51b5;
  transition-property: all;
  transition-duration: 2s;
}